#about-me {
    padding: 50px 0;
    color: #ababab;

}



.about-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pic-col {
    background-color: rgb(24, 24, 24);
    flex-basis: 30%;
}

.pic-col, .img {
    width: auto;
    height: auto;
    border-radius: 15px;

}

.about-col {
    flex-basis: 50%;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);

} 

.sub-titlle {
    font-weight: 800;
    color: #ababab;
}

.tab {
    display: flex;
    justify-content: space-between;
    margin-right: 40%;
}

.tab-links {
    
    font-weight: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}


.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: blue;
    position:absolute;
    right: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}
