#about-me {
    padding: 50px 0;
    color: #ffffff;

}

.about-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pic-col {
    flex-basis: 35%;
    background-color: rgb(32, 32, 32);
}

.pic-col, img {

    width: 130%;
    /* height: auto ; */
    border-radius: 15px;

}

.about-col {
    flex-basis: 60%;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);

} 

.sub-titlle {
    text-align: center;
    font-weight: 800;
    color: #ffffff;
}

.tab-titles {
    display: flex;
    justify-content: space-between;
    margin-right: 40%;
    
    
}

.tab-links {
    
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-weight: 800;

}


.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: rgb(18, 159, 214);
    position:absolute;
    right: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 80%;
}


.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: rgb(70, 102, 170);
    list-style: none;
    font-size: 20px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
     display: block;
}

